<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Livros</h4>
            <!-- <p class="category">Here is a subtitle for this table</p> -->
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped" *ngIf="tableData">
              <thead>
                <tr>
                  <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody *ngIf="tableData.dataRows.length > 0">
                <tr *ngFor="let row of tableData.dataRows">
                  <td>{{row.titulo }}</td>
                  <td>{{row.descricao}}</td>
                  <td>{{row.autor}}</td>
                  <td>{{row.editora}}</td>
                  <td>{{row.numeroEdicao}}</td>
                  <td>{{row.anoEdicao}}</td>
                  <td>{{row.isbn}}</td>
                  <td class="td-actions">
                    <a rel="tooltip" (click)="editar(row.id)" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a rel="tooltip" (click)="remover(row.id)" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </a>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="tableData.dataRows.length == 0">
                  <tr>
                      <td colspan="8">Nenhum registro encontrado!</td>
                    </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
